<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class='container'>
      <div class='jumbotron'>
        <h1>Welcome</h1>
        <form name='testForm' method='post' action='submit'>
          <label for='username'>Username</label>
          <input class='form-control' id='username' name='username' autocomplete='off' placeholder='username'>
          <br>
          <label for='password'>Password</label>
          <input class='form-control' id='password' name='password' autocomplete='off' placeholder='password' type='password'>
          <br>
          <button type='submit' id='submit' class='btn btn-success'>Submit</button>
          <a href="/admin"><button type='button' class='btn btn-info'>Admin</button></a>
        </form>
      </div>
    </div>
  </body>
</html>
