<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class='container'>
      <div class='jumbotron'>
        <h1>File Not Found</h1>
        <p>The page you tried to access either doesn't exist, or you attempted
          to access in in an invalid way. Did you GET when you should have
          POSTed? Did you bob when you should have weaved? Try again, or
          navigate from the <a href='/'>home page</a>.</p>
      </div>
    </div>
  </body>
</html>
