<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class='container'>
      <div class='jumbotron'>
        <h1>Update password for: <%= username %></h1>
        <form action='../update' method='post'>
          <label for='update'>Enter new password: </label>
          <input type='hidden' name='id' value='<%= id %>'>
          <input type='hidden' name='username' value='<%= username %>'>
          <input type='password' id='update-password' class='form-control' name='update' placeholder='new password'>
          <br>
          <button type='submit' class='btn btn-success'>Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
